<!DOCTYPE html>
<html lang="en">

<head>

<title>Stour Valley Designs : home grown web pages</title>

<!-- Meta -->
<meta charset="utf-8" />
<meta name="description" content="Freelance web developer and graphic designer based in Ipswich Suffolk." />
<meta name="keywords" content="stour valley designs web design php css html wordpress ruby rails" />
<meta name="author" conten="Adam Chamberlin" />
<meta name="robots" content="all,index,follow" /> 
<meta name="revisit-after" content="2 Days" /> 
<meta name="copyright" content="Copyright 2008 to Present" />
<meta name="rating" content="general" />
<meta name="google-site-verification" content="S92ywL2vn_hrtmQW5LNPkVMlWTyewvIDUu5nk50RKKE" />

<!-- CSS Styling -->
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
<link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
<!--[if IE]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/iphone.png" />

<!-- JavaScript goodness -->
<script src="js/prototype.js" type="text/javascript" charset="utf-8"></script>
<script src="js/effects.js" type="text/javascript" charset="utf-8"></script>
<script src="js/glider.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>

<div id="wrapper">

<div id="header">
<h1>Stour Valley Designs</h1>
<h2>home grown web pages</h2>
<div id="nav">
<ul id="navlist">
	<li><a href="#info">Info</a></li>
	<li><a href="#about">About</a></li>
	<li><a href="#contact">Contact</a></li>
</ul>		
</div><!-- nav -->

</div><!-- header -->

{{ content }}

<script type="text/javascript" charset="utf-8">
		var my_glider = new Glider('wrapper', {duration:0.5});
</script>

<div id="footer">


</div><!-- footer -->

</div><!-- wrapper -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30265454-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>